
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url("../Img/Fondo.jpg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size:400%; */
  /* color: blue ; */
  /* font-family: cursive; */
  /* font-weight: 600; */
  background-size:100% 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.login
{
  font-size:150%;
  color: rgba(166, 170, 166, 0.911) ;
}

.sudmit
{
  color: blue;
}


.root 
{
  padding: '2px 4px';
  display: 'flex';
  width: 400;
  align-items: center;
}
.input
{
   flex: 1;
}
.iconButton
{
  padding: 10;
}
.lalala
{
  height: 28;
  margin: 4;
}

.error{
  background-image: url("../Img/404.jpg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size:400%; */
  /* color: blue ; */
  /* font-family: cursive; */
  /* font-weight: 600; */
  background-size:100% 100%;

}